body
{
    background-color:#f2f4fb;
    font-size: 14px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

div[id="registrationForm"] h1
{
    color: black;
    font-size: 2em;
    text-align: center;
}

a:hover, a:focus, a
{
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

/* Navbar */
#header-nav
{
    background-color: #164ACF;
    border-radius: 0px;
    border: 0px ;
    font-size: 16px;
    height: 40px;
}
#header-nav a:hover, #header-nav a:focus, #header-nav a
{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}