.form{
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.form h1{
    font-size: 30px;
    text-transform: uppercase;
}

.form input[type="text"]{
    display: block;
    margin: 0 auto 15px;
    width: 270px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
}

.form input[type="date"]{
    display: block;
    margin: 0 auto 15px;
    width: 270px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
}

.form input[type="tel"]{
    display: block;
    margin: 0 auto 15px;
    width: 270px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
}

.form input[type="submit"]{
    margin: 0 auto 15px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
    float: right;
}

.form.authorization.link {
    float: left;
    width: 200px;
    text-align: initial;
}

.form.link a{
  display: block;
}
.form.registration{
  width: unset;
}

.form.registration input[name = "password"] {
    display: inline;
    flex-direction: row;
    width: 150px;
}

.form.registration input[type="submit"]{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  width: 145px;
}

.form{
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.form h1{
    font-size: 30px;
    text-transform: uppercase;
}

.form input[type="text"]{
    display: block;
    margin: 0 auto 15px;
    width: 270px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
}

.form input[type="date"]{
    display: block;
    margin: 0 auto 15px;
    width: 270px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
}

.form input[type="tel"]{
    display: block;
    margin: 0 auto 15px;
    width: 270px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
}

.form input[type="submit"]{
    margin: 0 auto 15px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
    float: right;
}

.form.authorization.link {
    float: left;
    width: 200px;
    text-align: initial;
}

.form.link a{
  display: block;
}
.form.registration{
  width: unset;
}

.form.registration input[name = "password"] {
    display: inline;
    flex-direction: row;
    width: 150px;
}

.form.registration input[type="submit"]{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  width: 145px;
}

.form{
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.form h1{
    font-size: 30px;
    text-transform: uppercase;
}

.form input[type="text"]{
    display: block;
    margin: 0 auto 15px;
    width: 270px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
}

.form input[type="date"]{
    display: block;
    margin: 0 auto 15px;
    width: 270px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
}

.form input[type="tel"]{
    display: block;
    margin: 0 auto 15px;
    width: 270px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
}

.form input[type="submit"]{
    margin: 0 auto 15px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 10px 10px;
    float: right;
}

.form.authorization.link {
    float: left;
    width: 200px;
    text-align: initial;
}

.form.link a{
  display: block;
}
.form.registration{
  width: unset;
}

.form.registration input[name = "password"] {
    display: inline;
    flex-direction: row;
    width: 150px;
}

.form.registration input[type="submit"]{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  width: 145px;
}
