:root {
  --scrollbarBg: #adb5bd;
  --scrollbarThumb: rgba(255, 255, 255, 0.8);
  --scrollbarWidth: 15px;
  --scrollbarBorder: 3px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

#deleteParticipant:hover {
  border: 1px solid darkgoldenrod;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2f4fb;
}

small {
  font-size: 90%;
}

header {
  position: fixed;
  width: 100%;
  color: white;
  top: 0;
}

header .navbar {
  background-color: #164ACF;
}

header a, header a:link, header a:visited {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

button {
  -webkit-transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.button {
  cursor: pointer;
  background-color: white;
  border: 0px;
  width: 100%;
  border-radius: 10px;
}

.button:hover {
  -webkit-box-shadow: 10px 5px 5px gray;
          box-shadow: 10px 5px 5px gray;
  background-color: #f2f4fb;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.color-text-primary {
  color: #24292f;
}

.color-fg-muted {
  color: #57606a;
}

.display-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

aside {
  top: 50px;
  left: 10px;
  background-color: white;
  position: fixed;
  border-radius: 10px;
  width: 25%;
  height: 80%;
  padding: 12px;
  text-align: center;
}

@media (max-width: 449px) {
  aside {
    top: 70px;
  }
}

aside div.form > input {
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
  outline: 0;
  text-align: center;
}

aside div.form > input:focus {
  border: 2px solid blue;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: start;
}

aside .button {
  cursor: pointer;
  background-color: white;
  border: 0px;
  width: 100%;
  border-radius: 10px;
}

aside .button:hover {
  -webkit-box-shadow: 10px 5px 5px gray;
          box-shadow: 10px 5px 5px gray;
  background-color: #f2f4fb;
}

aside #membersOfProject {
  background-color: #f2f4fb;
  border: 0px;
  width: 100%;
  height: 290px;
  overflow-x: auto;
  overflow-y: scroll;
}

aside #membersOfProject .userElement {
  border: 1px solid black;
  text-align: left;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

aside #membersOfProject .userElement button {
  float: right;
}

#board {
  top: 50px;
  left: 30%;
  right: 30px;
  height: 85%;
  background-color: #fff;
  position: fixed;
  background-size: 100% 100%;
  overflow-x: auto;
  padding: 16px;
}

@media (max-width: 449px) {
  #board {
    top: 70px;
  }
}

@media (max-width: 768px) {
  #board {
    left: 1%;
  }
}

#board .row-my {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

#board .col-my {
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

#board .col-my::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}

#board .col-my::-webkit-scrollbar-track {
  background: var(--scrollbarBg);
  border-radius: var(--scrollbarBorderRadius);
}

#board .col-my::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
}

#board .col-my {
  border-width: 1px;
  border-radius: 6px;
  background-color: #e9ecef;
  overflow-y: auto;
  margin-right: 16px;
  position: relative;
  white-space: normal;
  min-height: 200px;
  max-height: 95%;
  width: 30%;
}

#board .col-my .col-header {
  padding: 8px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#board .col-my .col-header .number-cards {
  width: 40px;
  height: 20px;
  padding: 0 6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: black;
  text-align: center;
  background-color: peachpuff;
  border: 1px solid transparent;
  border-radius: 2em;
}

#board .col-my .col-header .name-column {
  font-size: 14px;
  padding: 4px;
  margin: 0;
  font-weight: 600;
  width: calc(100% - 85px);
  height: 40px;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#board .col-my .col-header .button-new-card {
  padding: 4px;
  line-height: 1;
  background: transparent;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
}

#board .col-my .col-header .button-new-card:hover {
  background-color: #f2f4fb;
}

#board .col-my .col-header .column-menu {
  width: 20px;
  height: 20px;
  display: inline-block;
}

#board .col-my .col-header .column-menu .open {
  position: absolute;
  z-index: 2;
  right: 0;
  left: auto;
  min-width: 180px;
  padding-top: 4px;
  top: 0;
  margin-top: 32px;
}

#board .col-my .col-content {
  padding: 8px;
}

#board .col-my .col-content .card {
  margin-bottom: 8px;
  overflow: hidden;
  padding: 4px 8px;
  min-height: 75px;
  border-width: 1px;
  border-radius: 6px;
}

#board .col-my .col-content .card:hover {
  background-color: #f2f4fb;
}

#board .col-my .col-content .card .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#board .col-my .col-content .card .button-wrapper button {
  width: 25px;
  height: 25px;
}

#board .col-my .col-content .card .card-svg {
  position: absolute;
}

#board .col-my .col-content .card .card-content {
  font-size: 14px;
  margin-left: 24px;
  margin-top: 2px;
}

#board .col-my .col-content .card .add-info {
  font-size: 10px;
  margin-left: 24px;
  margin-top: 2px;
}

#board .col-my .col-content .form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem;
}

#board .col-my .col-content .form .flex .btn {
  color: #ffffff;
  background-color: #2da44e;
  border-color: #1b1f2426;
  -webkit-transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

#board .col-my .col-content .form .flex .btn:hover {
  background-color: #2c974b;
}

#board .add-column {
  display: block;
  width: 320px;
}

#board .add-column .add-column-btn {
  width: 315px;
  border-color: #d0d7de;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
  vertical-align: top;
  background-color: #ffffff;
  color: #57606a;
  border-style: dashed;
  border-radius: 6px;
  border: 1px solid #d0d7de;
}

#board .add-column .add-column-btn:hover {
  background-color: #f2f4fb;
}

.create-column {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #00000066;
}

.create-column .form-column {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 35%;
  height: 40%;
  border-radius: 30px;
  border: 1px solid #d0d7de;
}

.create-column .form-column .form-header {
  display: block;
  padding: 16px;
}

.create-column .form-column .form-header .name {
  padding: 4px;
  display: inline-block;
  line-height: 1;
}

.create-column .form-column .form-header .form-close {
  display: inline-block;
  -webkit-column-width: 1;
          column-width: 1;
  background: transparent;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
  position: relative;
  left: 40%;
  bottom: 5px;
}

.create-column .form-column .form-header .form-close:hover {
  background-color: #f2f4fb;
}

.create-column .form-column .content {
  padding: 16px;
}

.create-column .form-column .content .input_text {
  border-radius: 30px;
  margin: 0 auto 15px;
  color: inherit;
  background-color: inherit;
  width: 100%;
  background-clip: padding-box;
  border: 1px  solid #d0d7de;
  height: 35px;
  padding: inherit;
}

.create-column .form-column .content .create-column-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-wrapper .form-card {
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

.card-wrapper .form-card::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}

.card-wrapper .form-card::-webkit-scrollbar-track {
  background: var(--scrollbarBg);
  border-radius: var(--scrollbarBorderRadius);
}

.card-wrapper .form-card::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
}

.card-wrapper .form-card {
  position: fixed;
  overflow: hidden;
  top: 51%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 40%;
  height: 86%;
  border-radius: 30px;
  border: 1px solid #d0d7de;
  padding: 20px;
  overflow-y: auto;
}

.card-wrapper .form-card .header {
  display: block;
  height: 80px;
  width: 100%;
  margin-bottom: 40px;
}

.card-wrapper .form-card .header .info {
  display: block;
  float: left;
  width: 50%;
}

.card-wrapper .form-card .header .info * {
  margin: 0;
  margin-bottom: 1px;
}

.card-wrapper .form-card .header .close {
  display: block;
  float: right;
  width: 25px;
  height: 25px;
  position: relative;
}

.card-wrapper .form-card .header picture {
  float: right;
}

.card-wrapper .form-card .header .last-change {
  display: block;
  text-align: end;
  top: 33%;
  right: 3%;
  margin-right: 15px;
}

.card-wrapper .form-card .header .last-change p {
  margin: 0;
  font-size: 14px;
  float: right;
  margin: 2px;
}

.card-wrapper .form-card .content {
  display: block;
  float: left;
  width: 70%;
}

.card-wrapper .form-card .content .mode {
  display: inline-block;
  margin: 0;
}

.card-wrapper .form-card .content .mode #viewingCardContents {
  border: 2px solid black;
  border-bottom: 0;
  border-right: 1px solid black;
  width: 120px;
}

.card-wrapper .form-card .content .mode #viewingCardContents:not([disabled]):hover {
  background-color: gray;
  color: #fff;
}

.card-wrapper .form-card .content .mode #changeCardContents {
  border: 2px solid black;
  border-bottom: 0;
  border-left: 1px solid black;
  width: 120px;
  position: relative;
}

.card-wrapper .form-card .content .mode #changeCardContents:not([disabled]):hover {
  background-color: gray;
  color: #fff;
}

.card-wrapper .form-card .content .filling {
  display: block;
  height: 300px;
  border: 2px solid black;
}

.card-wrapper .form-card .content .filling textarea {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 3px;
  padding-left: 8px;
  border: 0;
  outline: none;
  color: black;
  font-size: 18px;
}

.card-wrapper .form-card .comments {
  display: block;
  width: 70%;
  float: left;
  margin-top: 15px;
}

.card-wrapper .form-card .comments .new {
  display: block;
}

.card-wrapper .form-card .comments .new textarea {
  font-size: .8rem;
  letter-spacing: 1px;
  padding: 5px;
  width: 100%;
  max-height: 120px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card-wrapper .form-card .comments .new button {
  margin-left: 73%;
  border-radius: 5px;
  border: 1px solid black;
  color: #ffffff;
  background-color: #2da44e;
  border-color: #1b1f2426;
}

.card-wrapper .form-card .comments .old {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-wrapper .form-card .comments .old .elem-comment {
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.card-wrapper .form-card .comments .old .elem-comment .info-comment {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 5px;
}

.card-wrapper .form-card .comments .old .elem-comment .info-comment #userCommen {
  font-size: 20px;
  font-family: cursive;
  margin-bottom: 2px;
}

.card-wrapper .form-card .comments .old .elem-comment .info-comment #dataComment {
  position: relative;
  top: 5px;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.card-wrapper .form-card .comments .old .elem-comment .content-comment {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card-wrapper .form-card .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28%;
  float: right;
  text-align: center;
}

.card-wrapper .form-card .actions h4 {
  font-size: 25px;
}

.card-wrapper .form-card .actions button {
  border: 1px solid black;
}

.card-wrapper .form-card .actions button:hover {
  background-color: gray;
  border-radius: 5px;
  color: #fff;
}

.card-wrapper .form-card .actions * {
  margin-bottom: 2px;
  font-size: 13px;
}

.card-wrapper .form-card .actions .mark-div {
  border: 1px solid black;
}

.pop-outer {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pop-outer .form-estimate {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 25%;
  height: 30%;
  border-radius: 30px;
  border: 1px solid black;
  padding: 20px;
  z-index: 5;
}

.pop-outer .form-estimate .header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pop-outer .form-estimate .header button {
  position: relative;
  left: 30%;
  height: 25px;
  width: 25px;
}

.pop-outer .form-estimate .estimate {
  display: block;
  position: fixed;
  overflow: hidden;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.pop-outer .form-estimate .estimate input {
  border: 2px solid black;
}

.pop-outer .form-estimate .estimate button {
  position: relative;
  left: 25%;
  margin-top: 8px;
}

.pop-outer .form-status {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 35%;
  height: 40%;
  border-radius: 30px;
  border: 1px solid black;
  padding: 20px;
  z-index: 5;
}

.pop-outer .form-status .header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pop-outer .form-status .header button {
  position: relative;
  left: 40%;
  height: 25px;
  width: 25px;
}

.pop-outer .form-status .status {
  display: block;
  position: fixed;
  overflow: hidden;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 25px;
}
