$BgInputCollor: #fff;
$ErrCollor: red;
$BorderCollor: #ced4da;
$Collor: #212529;

@mixin  blockInLine($display: inline,
                    $flex-direction: row,
                    $width: 49%){
  display: $display;
  flex-direction: $flex-direction;
  width: $width;
}

@mixin errSelection{
  border: 1px solid $ErrCollor;
}

@mixin inputMain(){
  display: block;
  border-radius: 50px;
  margin: 0 auto 15px;
  color: $Collor;
  background-color: $BgInputCollor;
}

*{
  font-size: 20px;
}

.center_desktop{
  position: fixed;
  top: 30%;
  left: 40%;
}

.form{
  text-align: center;
  margin: 0 auto;
  width: 70%;

  .invisible{
    height: 70px;
  }

  h1{
      font-size: 30px;
      text-transform: uppercase;
  }

  .input_text{
    @include inputMain();
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid $BorderCollor;


    }

  .input_date{
      @include inputMain();
  }

  .input_tel{
      @include inputMain();

  }

  .input_submit{
      @include inputMain();
  }

  .authorization{
    width: 20%;
    text-align: center;
    margin: 0 auto;

    .links{
      float: left;
      width: 50%;
      a {
        display: block;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        transition: 0.4s ease-in-out;
        color: #6c757d;
        font-size: 15px;
        text-align: initial;
        margin-left: 12px;
      }
    }

    .send {
      float: right;
      width: 49%;
      *{
        margin-left: 50%;
      }
    }
  }

  .registration{
    text-align: center;
    margin: 0 auto;
    width: 40%;

    .email{
      .err {
        @include errSelection;
      }
    }

    .password {
      .err {
        @include errSelection;
      }

      input{
        @include blockInLine();
      }
    }

    .fio{
      .err {
        @include errSelection;
      }
    }

    .data {
      float: left;
      width: 49%;

      .err {
        @include errSelection;
      }

      * {
          @include blockInLine($display: block, $width: 100%);
        }
    }

    .phone {
      float: right;
      width: 49%;

      .err {
        @include errSelection;
      }



      *{
        @include blockInLine($display: block, $width: 100%);
      }
    }

    .other{
      .err {
        @include errSelection;
      }
    }

    .input_submit{
      display: block;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      width: auto;
      margin: 0 auto 50px;
      float: inherit;
    }

    .removing_indentation{
          margin: 0;
    }
  }
}
