:root {
  --scrollbarBg: #adb5bd;
  --scrollbarThumb: rgba(255, 255, 255, 0.8);
  --scrollbarWidth: 15px;
  --scrollbarBorder: 3px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

#deleteParticipant{
    &:hover{
        border: 1px solid darkgoldenrod;
    }
}

*{
    box-sizing: border-box;
}

body {
    background-color: #f2f4fb;
}

small {
    font-size: 90%;
}

header{

    position: fixed;
    width: 100%;
    color: white;
    top: 0;

    .navbar{
        background-color: #164ACF;
    }

    a, a:link, a:visited {
        text-decoration: none;
        color: white;
        margin: 0 20px;
    }
}

button{
  -webkit-transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}


.button{
    cursor: pointer;
     background-color: white;
     border: 0px;
     width: 100%;
     border-radius: 10px;

     &:hover
     {
        box-shadow: 10px 5px 5px gray;
        background-color: #f2f4fb;
     }
}




.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.color-text-primary{
    color: #24292f;
}

.color-fg-muted{
    color: #57606a;
}

.display-none{
    display: none;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

aside
{
    @media (max-width: 449px) {
        top: 70px;
    }
    top: 50px;
    left: 10px;
    background-color: white;
    position: fixed;
    border-radius: 10px;
    width: 25%;
    height: 80%;
    padding: 12px;
    text-align: center;

    div.form > input
    {
        margin-bottom: 15px;
        width: 100%;
        align-items: center;
        border: 0px;
        outline: 0;
        text-align: center;

        &:focus
        {
            border: 2px solid blue;
            box-shadow: none;
            text-align: start;
        }
    }

    .button{
        cursor: pointer;
        background-color: white;
        border: 0px;
        width: 100%;
        border-radius: 10px;

        &:hover
        {
            box-shadow: 10px 5px 5px gray;
            background-color: #f2f4fb;
        }
    }

    #membersOfProject{
        background-color: #f2f4fb;
        border: 0px;
        width: 100%;
        height: 290px;
        overflow-x: auto;
        overflow-y: scroll;        

        .userElement{
            border: 1px solid black;
            text-align: left;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;

            button{
                float: right;
            }
        }
    }
}

#board{
    @media (max-width: 449px) {
        top: 70px;
    }

    @media (max-width: 768px) {
        left: 1%;
    }

    //$bcCollar: beige
    $bcCollar: #fff;
    $colCollor: #e9ecef;

    top: 50px;
    left: 30%;
    right: 30px;
    height: 85%;
    background-color: $bcCollar;
    position: fixed;
    background-size: 100% 100%;
    overflow-x: auto;
    padding: 16px;

    .row-my{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        height: 100%;
    }

    .col-my {
        scrollbar-width: var(--scrollbarWidth);
        scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
    }
    .col-my::-webkit-scrollbar {
        width: var(--scrollbarWidth);
    }
    .col-my::-webkit-scrollbar-track {
        background: var(--scrollbarBg);
        border-radius: var(--scrollbarBorderRadius);
    }
    .col-my::-webkit-scrollbar-thumb {
        background-color: var(--scrollbarThumb);
        border-radius: var(--scrollbarBorderRadius);
        border: var(--scrollbarBorder);
    }

    .col-my{
        border-width: 1px;
        border-radius: 6px;
        background-color: $colCollor;
        overflow-y: auto;
        margin-right: 16px;
        //padding: 16px !important;
        position: relative;
        white-space: normal;
        min-height: 200px;
        max-height: 95%;
        width: 30%;

        .col-header{
            padding: 8px;
            vertical-align: middle;
            display: flex;


            .number-cards{
                width: 40px;
                height: 20px;
                padding: 0 6px;
                font-size: 15px;
                font-weight: 500;
                line-height: 18px;
                color: black;
                text-align: center;
                background-color: peachpuff;
                border: 1px solid transparent;
                border-radius: 2em;
            }

            .name-column{
                font-size: 14px;
                padding: 4px;
                margin: 0;
                font-weight: 600;
                width: calc(100% - 85px);;
                height: 40px;
                overflow: auto;
                align-items: center;
            }

            .button-new-card{
                padding: 4px;
                line-height: 1;
                background: transparent;
                width: 25px;
                height: 25px;
                margin-right: 5px;
                align-items: center;
                border: 0px;

                &:hover
                {
                    background-color: #f2f4fb;
                }
            }

            .column-menu{
                width: 20px;
                height: 20px;
                display: inline-block;

                .open{
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    left: auto;
                    min-width: 180px;
                    padding-top: 4px;
                    top: 0 ;
                    margin-top: 32px ;
                }
            }
        }

        .col-content{
            padding: 8px;

            .card{
                &:hover{
                    background-color: #f2f4fb;
                }

                .button-wrapper{
                    display: flex;
                    justify-content: flex-end;
                    button{
                        width: 25px;
                        height: 25px;
                    }
                }

                margin-bottom: 8px;
                overflow: hidden;
                padding: 4px 8px;
                min-height: 75px;
                border-width: 1px;
                border-radius: 6px;

                .card-svg{
                    position: absolute;
                }

                .card-content{
                    font-size: 14px;
                    margin-left: 24px;
                    margin-top: 2px;
                }

                .add-info{
                    font-size: 10px;
                    margin-left: 24px;
                    margin-top: 2px;
                }
            }

            .form{
                .flex{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    margin: 0.5rem;

                    .btn{
                        color: #ffffff;
                        background-color: #2da44e;
                        border-color: #1b1f2426;
                        transition: .2s cubic-bezier(0.3, 0, 0.5, 1);

                        &:hover
                        {
                            background-color: #2c974b;
                        }
                    }
                }
            }
        }
    }

    .add-column{
      display: block;
      width: 320px;

    .add-column-btn{
        width: 315px;
        border-color: #d0d7de ;
        display: inline-block ;
        font-weight: 600 ;
        text-align: center ;
        padding-top: 40px ;
        padding-bottom: 40px ;
        margin-bottom: 0 ;
        vertical-align: top ;
        background-color: #ffffff ;
        color: #57606a ;
        border-style: dashed ;
        border-radius: 6px ;
        border: 1px solid #d0d7de ;

        &:hover
        {
          background-color: #f2f4fb;
        }
      }

    }
}

.create-column{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #00000066;


    .form-column{
        position: fixed;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color:  #fff;
        width: 35%;
        height: 40%;
        border-radius: 30px ;
        border: 1px solid #d0d7de ;

        .form-header{
            display: block;
            padding: 16px;

            .name{
                padding: 4px;
                display: inline-block;
                line-height: 1;
            }
            .form-close{
                display: inline-block;
                column-width: 1;
                background: transparent;
                width: 50px;
                height: 50px;
                border-radius: 30px ;
                align-items: center;
                border: 0px;
                position: relative;
                left: 40%;
                bottom: 5px;

                &:hover
                {
                    background-color: #f2f4fb;
                }
            }
        }

        .content{
            padding: 16px;

            .input_text{
                border-radius: 30px;
                margin: 0 auto 15px;
                color: inherit ;
                background-color: inherit ;
                width: 100%;
                background-clip: padding-box;
                border: 1px  solid #d0d7de ;
                height: 35px;
                padding: inherit;
            }

            .create-column-btn{
                display: flex;
            }
        }
    }
}

.card-wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .form-card {
        scrollbar-width: var(--scrollbarWidth);
        scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
    }
    .form-card::-webkit-scrollbar {
        width: var(--scrollbarWidth);
    }
    .form-card::-webkit-scrollbar-track {
        background: var(--scrollbarBg);
        border-radius: var(--scrollbarBorderRadius);
    }
    .form-card::-webkit-scrollbar-thumb {
        background-color: var(--scrollbarThumb);
        border-radius: var(--scrollbarBorderRadius);
        border: var(--scrollbarBorder);
    }

    .form-card{
        position: fixed;
        overflow: hidden;
        top: 51%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color:  #fff;
        width: 40%;
        height: 86%;
        border-radius: 30px ;
        border: 1px solid #d0d7de ;
        padding: 20px;
        overflow-y: auto;

        .header{
            display: block;
            height: 80px;
            width: 100%;
            margin-bottom: 40px;

            .info{
                display: block;
                float: left;
                width: 50%;

                *{
                    margin: 0;
                    margin-bottom: 1px;
                }
            }

            .close{
                display: block;
                float: right;
                width: 25px;
                height: 25px;
                position: relative;
            }

            picture{
                float: right;
            }

            .last-change{
                display: block;
                text-align: end;
                top: 33%;
                right: 3%;
                margin-right: 15px;

                p{
                    margin: 0;
                    font-size: 14px;
                    float: right;
                    margin: 2px;
                }
            }
        }

        .content{
            display: block;
            float: left;
            width: 70%;

            .mode{
                display: inline-block;
                margin: 0;

                #viewingCardContents{
                    border: 2px solid black;
                    border-bottom: 0;
                    border-right: 1px solid black;
                    width: 120px;


                    &:not([disabled]):hover{
                        background-color: gray;
                        color: #fff;
                    }
                }

                #changeCardContents{
                    border: 2px solid black;
                    border-bottom: 0;
                    border-left: 1px solid black;
                    width: 120px;
                    position: relative;

                    &:not([disabled]):hover{
                        background-color: gray;
                        color: #fff;
                    }
                }
            }

            .filling{
                display: block;
                height: 300px;
                border: 2px solid black;


                textarea{
                    resize: none;
                    width: 100%;
                    height: 100%;
                    padding: 3px;
                    padding-left: 8px;
                    border: 0;
                    outline: none;

                    color: black;
                    font-size: 18px;
                }
            }
        }

        .comments{
            display: block;
            width: 70%;
            float: left;
            margin-top: 15px;

            .new{
                display: block;

                textarea {
                    font-size: .8rem;
                    letter-spacing: 1px;
                    padding: 5px;
                    width: 100%;
                    max-height: 120px;
                    line-height: 1.5;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    //box-shadow: 1px 1px 1px #999;
                }

                button{
                    margin-left: 73%;
                    border-radius: 5px;
                    border: 1px solid black;
                    color: #ffffff;
                    background-color: #2da44e;
                    border-color: #1b1f2426;
                }
            }

            .old{
                display: flex;
                height: auto;
                flex-direction: column;
                //border: 1px solid black;


                .elem-comment{
                    border-radius: 5px;
                    border: 1px solid black;
                    width: 100%;
                    height: auto;
                    margin-top: 5px;

                    .info-comment{
                        display: inline-flex;
                        margin: 5px;

                        #userCommen{
                            font-size: 20px;
                            font-family: cursive;
                            margin-bottom: 2px;
                        }

                        #dataComment{
                            position: relative;
                            top: 5px;
                            font-size: 15px;
                            margin-left: 10px;
                            margin-bottom: 2px;
                        }
                    }

                    .content-comment{
                        margin: 5px;
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                    }
                }
            }
        }

        .actions{
            display: flex;
            flex-direction: column;
            width: 28%;
            float: right;
            text-align: center;

            h4{
                font-size: 25px;
            }

            button{
                border: 1px solid black;


                &:hover{
                    background-color: gray;
                    border-radius: 5px;
                    color: #fff;
                }
            }

            *{
                margin-bottom: 2px;
                font-size: 13px;
            }
            .mark-div{
                border: 1px solid black;
            }
        }
    }
}

.pop-outer{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .form-estimate{
        position: fixed;
        overflow: hidden;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color:  #fff;
        width: 25%;
        height: 30%;
        border-radius: 30px ;
        border: 1px solid black ;
        padding: 20px;
        z-index: 5;

        .header{
          display: inline-flex;
          button{
            position: relative;
            left: 30%;
            height: 25px;
            width: 25px;
          }
        }

        .estimate{
            display: block;
            position: fixed;
            overflow: hidden;
            top: 60%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 20px;

            input{
                border: 2px solid black;
            }

            button{
                position: relative;
                left: 25%;
                margin-top: 8px;
            }
        }
    }

    .form-status{
        position: fixed;
        overflow: hidden;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color:  #fff;
        width: 35%;
        height: 40%;
        border-radius: 30px ;
        border: 1px solid black ;
        padding: 20px;
        z-index: 5;

        .header{
            display: inline-flex;
            button{
                position: relative;
                left: 40%;
                height: 25px;
                width: 25px;
            }
        }

        .status{
            display: block;
            position: fixed;
            overflow: hidden;
            top: 60%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 25px;
        }
    }
}
